<div class="navbar-fixed" data-pgc="navbar-fixed">
    <nav role="navigation" class="darken-2 teal" id="navbar">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo white-text">Holojam</a>
            <ul class="right hide-on-med-and-down red-text">
                <li>
                    <a href="#contact" class="white-text">Contact Us</a>
                </li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li>
                    <a href="#contact">Contact Us</a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons teal-text text-accent-3">menu</i></a>
        </div>
    </nav>
</div>
