<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <header>
            {% include header.html %}
</header>
        <main>
            {{ content }}
</main>
        {% include footer.html %}
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="/assets/js/materialize.min.js"></script>
        <script src="/assets/js/template.js"></script>
        <script>
        $(document).ready(function(){
        $('.scrollspy').scrollSpy();
        $('.scrollspy').on('scrollSpy:enter', function() {
        $('.navbar-fixed').find('a[href="#'+$(this).attr('id')+'"]').parent().addClass('active');
        });
        $('.scrollspy').on('scrollSpy:exit', function() {
        $('.navbar-fixed').find('a[href="#'+$(this).attr('id')+'"]').parent().removeClass('active');
        });
        $('#video-section').height($(window).height() - 64);
        });
        $(window).resize(function() {
        $('#video-section').height($(window).height() - 64);
        });
        $(window).trigger('resize');
    </script>
        <script type="text/javascript" src="http://rawgit.com/VodkaBears/Vide/master/src/jquery.vide.js"></script>
    </body>
</html>
